<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/static/vendor/jquery-3.1.1.min.js"></script>
    <script scr="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" media="screen" />
    {% block head %}{% end %}
    {% block title %}{% end %}
  </head>
  <body>
    <div class="container">
      {% block body %}{% end %}
    </div>
  </body>
  {% block script %}{% end %}
</html>
