{% extends index.html %}

{% block head %}{% end %}
{% block title %}

{% end %}

{% block body %}
  <div class="row">
    <span class="col-md-10">

    </span>
    <span class="col-md-1">
      <a id="track" class="btn btn-primary">
        track
      </a>
    </span>
    <span class="col-md-1">
      <a id="stop" class="btn btn-warning">
        stop
      </a>
    </span>
  </div>
{% end %}

{% block script %}
  <script>
    $(document).ready(function() {
        if ("MozWebSocket" in window) {
            WebSocket = MozWebSocket;
        }
        if (WebSocket) {
            var ws = new WebSocket("ws://{{ hostname }}/poll");
            var send = function(message) {
                ws.send(JSON.stringify(message))
            }
            ws.onopen = function() {
                console.warn("WS connection established");
            };
            ws.onmessage = function(evt) {
                //console.debug(evt.data);
                var data = $.parseJSON(evt.data);
                console.log(data);
            }
            ws.onclose = function() {
                console.warn("WS connection closed");
            };

            $('#track').on('click', (function() {
                send("track");
            }));
            $('#stop').on('click', (function() {
                send("stop");
            }));
        } else {
            alert("WebSocket not supported");
        }
    });
  </script>
{% end %}
