{% extends index.html %}

{% block head %}
{% end %}

{% block title %}
  <title>Wormhole route tracker | Authorization</title>
{% end %}

{% block body %}
  <a href="/signin" class="btn text-center">
    <img src="/static/images/sso_login.png" />
  </a>
{% end %}

{% block script %}
{% end %}
